*.*.ini
*.hex
*.asm
*.m[cbp]ppi
*.cfg
*.cp
*.emcl
*.bmk
*.brk
*.dbg
*.dct
*.dlt
*.log
*.lst
*[e].txt
*.wch
*.dic
*.mcl
*.cof
*.png
*.html
*.css
*.js
*.hhp
*.hhk
*.hhc
*.bin
.directory
*.md5
*.o









